.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}
/* Apply styles to the list items */
.listItem {
    font-size: 30px;
    color:#044a42;
    margin: 8px; 
    font-family: 'Marvel', sans-serif;
}
/* Apply styles to the button of list items */
.buttonItem {
    padding: 6px;
    margin: 3px;
    font-size: 20px;
    color: #fff;;
    background-color: #044a42;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Marvel', sans-serif;
}
.buttonItem:hover {
    background-color: #3a9188;
}

@media (max-width: 767px) {
    .listItem {
        font-size: 20px; 
        margin: 5px;
    }
    .buttonItem {
        font-size: 16px; 
        padding: 4px; 
        margin: 2px; 
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .listItem {
        font-size: 25px; 
    }
    .buttonItem {
        font-size: 18px; 
        padding: 5px; 
        margin: 3px; 
    }
}