/* Apply styles to the body */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
/* Apply styles to Background */
.container {
  background-size: cover;
  background: #67d4c9; 
  background-position: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #b8e1dd; 
}
 
/* Apply styles to the header ToDo List*/
.header {
    
    color: #062925;
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
}

.sortButtonContainer {
    display: flex;
    justify-content: center;
  }

.sortButton {
    padding: 6px;
    font-size: 20px;
    color: #fff;
    background-color: #044a42;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Marvel', sans-serif;
}
  
  .sortButton:hover {
    background-color: #3a9188;
  }

/* Apply styles to Loading */
.loadingMessage {
    font-size: 2rem;
    color: #062925;
    text-align: center;
}

/* Media query for mobile devices (up to 767px) */
@media (max-width: 767px) {
    .container {
        padding: 10px; /* Adjust padding for mobile */
    }
    .header {
        font-size: 2rem; /* Adjust font size for mobile */
    }
}
/* Media query for tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding: 20px; /* Adjust padding for tablets */
    }
    .header {
        font-size: 3rem; /* Adjust font size for tablets */
    }
}
/* Media query for desktops (min-width: 1024px) */
@media (min-width: 1024px) {
    .container {
        padding: 40px; /* Set padding for desktops */
    }
    .header {
        font-size: 3.5rem; /* Set font size for desktops */
    }
}